@charset "UTF-8";

*, *::before, *::after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

body {
	margin: 0;
	background-color: #F4F3F0;
}

.proj-landing h1, .container-proj h1, .about h1{
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	margin-top:0;
	margin-bottom:10px;
}

h1 {
	font-family: 'Roboto', serif;
	font-size: 2.5rem;
	line-height: 115%;
	color: rgba(26,36,60,1);
	margin-bottom: 20px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: rgba(26,36,60,1);
	margin: 10px 0;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: rgba(26,36,60,1);
	margin:0;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: rgba(26,36,60,1);
	opacity: .8;
	margin: 5px 0px 5px 0px;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: rgba(26,36,60,1);
	opacity: .6;
	margin: 5px 0px 5px 0px;
}

.bodycopy {
	margin: 0 10%;
}

.bodycopy a {
	margin: 5% 0;
	display: inline-block;
}

hr.proj-divider {
	width: 20%;
	min-width: 100px;
	color: rgba(26,36,60,1);
	display: inline-block;
	margin: 0;
}

.proj-landing p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: rgba(26,36,60,1);
	margin: 8px 0 20px 0;
	line-height: 125%;
	font-size:0.95rem;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: rgba(26,36,60,1);
	margin: 8px 0 10px 0;
	line-height: 125%;
	font-size:0.95rem;
}

.container-landing p {
	margin: 8px 0 20px 0;
	font-weight: 300;
	font-size: 1.25rem;
}

a {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: rgba(26,36,60,1);
	text-decoration: none;
}

.about p a {
	text-decoration: underline;
}

address {
	font-style: normal;
}

a:hover {
	text-decoration: underline;
}

#active {
	border-bottom:3px solid rgba(26,36,60,1);
	text-decoration:none;
}

div article img.ico-arrow {
	height: 1rem;
	width: 1rem;
	display: inline;
	min-width: 1rem;
	top: .2em;
	position: relative;
	margin-left: 6px;
}

.bg-landing {
	background-color: rgba(26,36,60,1);
	font-size: 18px;
	min-height: 80vh;
	display: flex;
}

article.landing {
	padding: 40px 10%;
}

.proj-landing img {
	max-width: 100%;
    min-width: 250px;
    height: auto;
    display: block;
	margin-bottom: 30px;
}

.proj-landing h2 {
	display: inline;
}

.proj-landing h5 {
	display: inline-block;
	margin: 0 10px;
}

.proj-landing h2:hover {
	text-decoration: none;
}

.proj-landing {
	display: flex;
    flex-direction: column;
    background-color: #F4F3F0;
}

.proj-hero {
	display: flex;
    flex-direction: column;
	margin-bottom: 5%;
}

.proj-hero article.landing {
	padding: 40px 0;
}

.proj-hero .left-half {
	flex-grow: 0.75;
	padding: 0 10%;
}

.proj-hero .right-half {
	padding: 0 10% 0 0;
}

.proj-landing .container, .proj-hero .container {
	align-items: flex-start;
}

.next-proj {
	background-color: rgba(233,231,225,1);;
	display: flex;
	align-items: center;
}

.next-proj a {
	flex: 1;
    order: 1;
}

.next-proj-divider {
	    border-left: 1px solid rgba(26,36,60,0.1);
}

.next-proj article {
	margin: 5% 20%;
}

.next-proj a:hover {
	/* background-color: rgba(222,219,210,.8); */
	background-color: rgba(255,255,255,.3);
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

  .next-proj a h3 {
	margin-bottom: 10px;
	margin-top: 0;
	display: inline-block;
}

.next-proj h1 {
	display: inline;
	margin-top: 20px;
}

.next-proj div article img.ico-arrow {
	height: 1.5rem;
	width: 1.5rem;
	margin-left: 10px;
}

.container-landing {
	flex: 1 1 auto;
	background-position: left, top right;
	background-repeat: repeat, no-repeat;
	background-color: #FFFFFF;
	background-image: url("../img/bg.png"), url("../img/landing_art.png");
	background-size: 60%, 50%;
}

.container {
	overflow: hidden;
	display:flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-position: left;
	background-repeat: repeat;
	background-color: #F4F3F0;
	background-image: url("../img/bg.png");
	background-size: 60%;
}

.container img, .next-proj img {
	max-width: 100%;
	min-width: 250px;
	height: auto;
	display: block;
}

.left-half {
	flex: 1;
	order: 1;
}

.right-half {
	flex: 1;
	order: 2;
}

.proj-landing .right-half, .container-proj .right-half {
	flex: 1.5;
}

.container-proj, .container-book {
	display:flex;
	flex-direction: row;
	background-color: #F4F3F0;
	padding: 5% 10%;
}

.container-book {
	padding: 5% 5%;
}

.about section img {
	max-width: 50%;
	margin: 0 auto;
}

.container-proj img, .mini img, .about img {
	max-width: 90%;
	min-width: 250px;
	height: auto;
	display: block;
}

.proj-grid {
	display:flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flecha-container {
	max-width: 90%;
}

.proj-grid.flecha-container img {
	max-width: 84px;
	width: 36px;
	min-width: 36px;
}

.proj-colors {
	display:flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5%;
	margin-bottom: 8%;
}

.proj-colors img {
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.08);
	max-width: 100px;
}

.proj-grid img {
	flex-grow: 1;
	width: 32%;
	height: auto;
	padding: 0.2%;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
	
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box-shadow {
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.08);
}

article.proj {
	padding: 0px 80px 40px 0px;
}

.container-proj-mini {
	display: flex;
}

.mini {
	flex-direction: column;
	padding: 10% 15%;
	align-items: start;
}

.mini article.proj {
	padding: 40px 80px 40px 0px;
	align-items: start;
}

hr.proj-section {
	display: block;
	width: 80%;
    height: 1px;
    border: 0;
    border-top: 1.5px solid rgba(26,36,60,1)	;
    padding: 0;
}

.container-credits {
	display:flex;
	justify-content:flex-end;
}

.credits {
	width:25%;
}

hr.proj-credits {
	display: block;
	width: 100%;
    height: 1px;
    border: 0;
    border-top: 1.5px solid rgba(26,36,60,1)	;
    padding: 0;
}

.about {
	background-color: rgba(222,219,210,1);
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 2% 2% 2% 10%;
}

.about-container {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-left {
	flex: 1.5;
	order: 1;
}

.about-right {
	flex: 1;
	order: 2;
}

//*.about h2, .about p, .about a, .about h1{
	color: rgba(244, 243, 240,1);
}*//

.about p {
	font-weight: 400;
}

.extra-snippet {
	opacity: 0.8;
	font-weight: 400;
	line-height: 115%;
	margin-top:5%;
	margin-bottom:0;
}

footer {
	background-color: #141B2D;
}

footer p {
	color: #FFFFFF;
	text-align: left;
	padding: 1% 1% 1% 10%;
	margin: 0;
	opacity: 0.2;
	font-size: 0.8rem;
	font-weight: 300;
}

.logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin:0;
}

a.logo:hover {
	border-bottom: 3px solid rgba(26,36,60,0);
	transform: scale(1.1);
}

nav {
	align-self: flex-end;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
 
header {
	padding: 4% 10%;
	display:flex;
	justify-content: space-between;
	/*border-bottom: 1px solid rgba(26,36,60,0.2);*/
}
 
header a{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	color: rgba(26,36,60,1);
	margin:0px 20px 0px 20px;
	border-bottom:3px solid rgba(26,36,60,0);
}

header a:hover{
	border-bottom:3px solid rgba(26,36,60,1);
	text-decoration:none;
}

/*------------BOOK PAGE------------*/

.book-landing {
	padding: 1% 5%;
}

.container-book img {
	max-width: 40%;
	min-width: 250px;
	height: auto;
    display: block;
}

.flex-3 {
	flex: 3;
}

/*------------PROJECT PAGE------------*/

.column {
	flex-direction: column;
}

.column article.proj {
	width: 50%;
}

.column img, .column iframe {
	margin: 0 auto;
}

.column iframe {
	max-height: 700px;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
	.container-landing{
		background-size: 60%, 100%;
	}
	
	.bg-landing {
		min-height: 50vh;
	}
	
	h1 {
		margin-top: 0;
		font-size: 2rem;
	}

	nav {
		align-self: center; 
	}
	
	.container {
		height: auto;
		flex-direction: column;
		background-size:100%
	}

	.left-half {
		order: 2;
	}

	.proj-landing .left-half, .container-proj .left-half, .proj-hero .left-half {
		order: 1;
	}
	
	.proj-landing h5 {
	display: block;
	margin: 0 0;
	}
	
	.proj-landing img {
		margin-bottom: 10px;
	}

	.right-half {
		order: 1;
		padding: 30px 30px 0;
	}

	.container-proj {
		flex-direction: column;
		justify-content: center;
		padding: 10%;
	}

	.container-proj-mini {
		flex-direction: column;
	}

	.container-proj-mini .left-half {
		padding: 30px 30px 0;
		order: 1;
	}

	.mini article.proj {
		padding: 40px 80px 40px 50px;
	}

	.mini {
		padding: 0;
		align-items: center;
	}

	.about-container {
	flex-direction: column;
	}

	.about article {
		margin: 10% 0;
	}

	.about p {
		line-height: 140%;
	}

	footer p {
		text-align: center;
	}
	
	.proj-landing .right-half, .container-proj .right-half, .proj-hero .right-half {
		padding: 30px 0 0;
	}
	
	.container-proj img {
		max-width: 100%;
	}
	
	.proj-landing article.landing, .proj-hero article.landing {
		padding: 40px 20px 40px 20px;
	}
	
	.proj-landing .right-half, .proj-hero .right-half {
		padding: 0;
	}
	
	.proj-grid img {
		padding: 1%;
	}
	
	article.proj {
		padding: 0;
	}
	
	.column article.proj {
		width: 100%;
	}
	
	.proj-colors {
		flex-wrap: wrap;
	}
	
	.right-half .proj-colors img {
		min-width: 100px;
		max-width: 130px;
		margin: 20px auto;
	}
	
	.credits {
		width: 100%;
	}
	
	.next-proj {
		align-items: normal;
		flex-direction: column;
	}
	
	.next-proj .right-half {
		padding: 0;
	}
	
	.next-proj article {
	margin: 5% 10%;
	}
	
	.next-proj-divider {
	    border-top: 1px solid rgba(26,36,60,0.1);
		border-left: none;
	}
}
